body{
font-family:Arial, sans-serif;
}


/* Home */

.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;

}


.hero h1{

font-size:55px;
font-weight:bold;

}


.hero p{

font-size:22px;

}



/* Menu */


.food-card{

border:none;
transition:0.3s;

}


.food-card img{

height:250px;
object-fit:cover;

}


.food-card:hover{

transform:translateY(-10px);

box-shadow:0px 10px 20px gray;

}




/* About */


.about{

background:#f5f5f5;
padding:60px 0;

}




/* Contact */


.contact-box{

max-width:600px;
margin:auto;

}





/* Footer */


footer{

background:#111;
color:white;
text-align:center;
padding:30px;

}